<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace속성은 클래스의 패키지와 유사한 용도로, Mybatis 내에서 원하는 SQL문을 찾아서 실행할 때 동 -->
<mapper namespace="org.zerock.mapper.MemberMapper">
    
    <select id="getTime" resultType="string">
        select now()
    </select>
    
    <insert id="insertMember">
      INSERT INTO TBL_MEMBER(
             USERID
           , USERPW
           , USERNAME
           , EMAIL
     )VALUES (
             #{userid}
           , #{userpw}
           , #{username}
           , #{email}
     )
    </insert>
    
    <select id="selectMember" resultType="org.zerock.domain.MemberVO">
       SELECT *
         FROM TBL_MEMBER
        WHERE USERID = #{userid}
    </select>
    
    <select id="readWithPW" resultType="org.zerock.domain.MemberVO">
        SELECT *
          FROM TBL_MEMBER
         WHERE USERID = #{userid}
           AND USERPW = #{userpw}
          
    </select>
</mapper>